body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	letter-spacing: px-to-rem(1px);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error {
	color: #f00;
	font-size: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.vin-root {
	padding: 20px;
	font-family: "Courier New", Courier, monospace;
}

.scanner {
	position: absolute;
	top: 0;
	// left: '0px',
	// height: '100%',
	// width: '100%',
	border: 3px solid green;
}

.canvas-scanner {
	position: relative;
	border: 3px solid red;
}

.zxing-container {
	padding: 20px;
	font-family: Arial, sans-serif;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-10 {
	margin-top: 10px;
}

.video {
	width: 100%;
	max-width: 400px;
	border: 1px solid #ccc;
	border-radius: 8px;
}
